{margin: 0;
padding: 0;} 
.logo{
float: left;
padding-top: 10px;
width: 60px;
height: 50px;
}
body{background: #f6f6f6;}
.navbar{
width:1200px;
height:30px;
margin: auto;
}
.menu{
float: right;
display: flex;
}
ul{
float: right;
display: flex;
}
ul li{
list-style: none;
margin-right: 40px;
margin-top: 20px;
}
ul li a{
text-decoration: none;
color: grey;
font-family: arial;
font-weight: bold;
transition: .3s ease;
}
ul li a:hover{
color: #ff7200;
}
.search{
width: 300px;
float: right;
}

}
.btn{
width: 100px;
height: 20px;
font-weight: bold;
font-family: arial;
margin-bottom: 20px;
margin-left: 20px;
border: none;
background: #ff7200;
border-radius: 20px;
cursor: pointer;
}
.btn:hover{
color: turquoise;}

.text .par{
font-famaily: arial;
font-weight: bold;
background-color: lightgrey;
}
.text .par span{
color: #ff7200;
font-size: 60px
}
.frm{
font-family: arial;
font-weight: bold;
backgroung: red;
float: right;
margin-right: 550px;
}
h1,h2,h3{
color: red; 
text-shadow:5px 7px 7px black;
border: 1px solid skyblue;
background-color: turquoise;
font-family: arial;
}
.form{
color: white;
font-family: arial;
font-weight: bold;
float: left;
display: flex;
width: 90px;
height: 20px;
margin-left: 20px;
margin-bottom: 30px;
border: none;
background: green;
border-radius: 5px;
cursor: pointer;

}

.form :hover{color: #ff7200;}
@media screen and (max-width:1200px;){
/*Normal screen*/
.navbar{width: 100px;
height: 100px;
}
ul{margin-right: 10px;}
ul li{margin-right: 10px;}
ul li a{font-size: 1.6vw;}
.search{margin-top: 3px;
margin-right: 300x;
}
.text{width: 100;}
.text .par{font-size: 1.5vw;}

}

